{% extends 'base.html' %}

{% block title %}
О компании "Твой Орех"
{% endblock %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        color: #000000;
    }

    h1 {
        text-align: center;
    }

    h2 {
        margin-top: 20px;
    }

    p {
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">О компании "Твой Орех"</h1>
            <p class="text-center">Мы рады приветствовать вас в мире орехов, где качество и разнообразие являются нашей главной целью.
                Компания "Твой Орех" - это ведущий поставщик свежих и вкусных орехов, предлагающий широкий ассортимент
                продукции высочайшего качества.</p>
        <h2>Наши цели</h2>
        <p>Наша миссия - предоставить нашим клиентам лучшие орехи, которые можно найти на рынке. Мы гордимся тем, что
            работаем непосредственно с производителями и тщательно отбираем только самые свежие и восхитительные
            орехи, чтобы удовлетворить самые изысканные вкусы наших клиентов.</p>

        <h2>Широкий выбор</h2>
        <p>В "Твоем Орехе" вы найдете широкий выбор орехов различных сортов и видов. От классических орехов, таких как
            миндаль, грецкий орех и фундук, до экзотических сортов, включая макадамию, кешью и пекан. У нас есть орехи
            для каждого вкуса и предпочтения.</p>

        <h2>Качество и свежесть</h2>
        <p>Мы понимаем важность свежести и качества продукции, поэтому вся наша продукция проходит строгий контроль
            качества. Мы уделяем особое внимание процессу хранения и транспортировки, чтобы каждый орех, доставленный
            к вам, сохранял свою свежесть и неповторимый вкус.</p>

        <h2>Удобная покупка онлайн</h2>
        <p>Наш интернет-магазин предлагает удобную покупку орехов онлайн. Вы можете легко выбрать желаемый продукт,
            оформить заказ и получить его быстро и надежно. Мы делаем все возможное, чтобы вы могли насладиться свежими
            орехами без лишних хлопот.</p>

        <h2>Наши клиенты</h2>
        <p>Мы гордимся тем, что имеем доверие и признание у широкой аудитории клиентов. Нашими клиентами являются как
            любители орехов, так и профессиональные повара, которые ценят качество и свежесть продукции. Мы всегда
            открыты для сотрудничества и готовы удовлетворить особые потребности и запросы, чтобы вы получили самое
            лучшее обслуживание.</p>

        <h2>Присоединяйтесь к нам</h2>
        <p>Мы приглашаем вас присоединиться к нашей прославленной репутации и насладиться превосходным вкусом орехов,
            которые предлагает "Твой Орех". Закажите сегодня и откройте для себя волшебный мир орехов, который будет
            радовать вас и ваших близких.</p>

        <p class="text-center">С уважением,<br>Команда "Твой Орех"</p>
    </div>
</div>
</div>
{% endblock %}