<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <div class="navigation" style="background-color: #C29B7C;">
        <div class="logo">
            <img src="/static/depositphotos_44681117-stock-illustration-cartoon-red-squirrel.jpg" alt="Логотип"
                 class="logo-image">
            <h1 style="display: inline-block; margin-left: 10px; vertical-align: middle;">Твой орех</h1>
        </div>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'account' %}">Аккаунт</a></li>
                <li><a href="{% url 'cart' %}">Корзина</a></li>
            </ul>
        </nav>

        <form method="POST" role="search" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="searched">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </form>
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>
