{% extends 'base.html' %}

{% block content %}
<div style="color: #000000;">
    <center>
        <h2>Корзина</h2>
        {% if cart_items %}
        <div class="container">
            <div class="row justify-content-center">
                {% for cart_item in cart_items %}
                <div class="card" style="display: flex; align-items: center;">
                    <div style="flex: 0 0 150px;">
                        <a href="{% url 'cart' %}">
                            <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.product_name }}" style="width: 100%; height: auto;">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3>{{ cart_item.product.product_name }}</h3>
                        <p>{{ cart_item.product.product_bio }}</p>
                        <p>Цена за кг: {{ cart_item.product.price }}р</p>
                        <p>Количество: {{ cart_item.quantity }}</p>
                        <a href="{% url 'remove_from_cart' cart_item.id %}">Удалить из корзины</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <p>Общая стоимость: {{ total_price }}р</p>
        <a href="{% url 'checkout' %}">Оформить заказ</a>
        {% else %}
        <p>Корзина пуста</p>
        {% endif %}
    </center>
</div>
{% endblock %}
