{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            {% for product in product %}
            <div class="card">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.product_name }}">
                </a>
                <div class="card-body">
                    <h3>{{ product.product_name }}</h3>
                    <p>{{ product.product_bio }}</p>
                    <p>Цена за кг: {{ product.price }}р</p>
                    <button>
                        <a href="{% url 'add_to_cart' product.id %}">Добавить в корзину</a>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
